<div class="container-fluid">
    <div class="form-group">

    <label for="add1">Address1</label>
   <input type="text" class="form-control" id="add1" name="add1"
    [(ngModel)]="address.add1"/>
   </div>

   <div class="form-group">

    <label for="add2">Address2</label>
   <input type="text" class="form-control" id="add2" name="add2"
    [(ngModel)]="address.add2"/>
   </div>

   <div class="form-group">

    <label for="pincode">Pincode</label>
   <input type="text" class="form-control" id="pincode" name="pincode"
    [(ngModel)]="address.pincode"/>
   </div>

   <div class="form-group">

    <label for="state">State</label>
   <input type="text" class="form-control" id="state" name="state"
    [(ngModel)]="address.state"/>
   </div>

   <div class="form-group">

    <label for="city">City</label>
   <input type="text" class="form-control" id="city" name="city"
    [(ngModel)]="address.city"/>
   </div>




</div>