<button type="submit" class="btn btn-primary" (click)="register()">Submit</button>
<button type="submit" class="btn btn-primary" (click)="forgetpassword()">Forget Password</button>
<button type="submit" class="btn btn-primary" (click)="employee()">Employee</button>
<button type="submit" class="btn btn-primary" (click)="createaccount()">Create Account</button>
<button type="submit" class="btn btn-primary" (click)="createatm()">Create ATM</button>
<button type="button" class="btn btn-primary" (click)="login()">Login</button>
<button type="submit" class="btn btn-primary" (click)="withdraw()">Withdraw</button>
<button type="submit" class="btn btn-primary" (click)="searchLoan()">Loan Search</button>


<a routerLink="/account" class="btn btn-link">Account</a>

<a routerLink="/addrestaurant" class="btn btn-link">Restaurant</a>

<a routerLink="/searchaccount" class="btn btn-link">Account Lookup</a>


{{ fullNameFromChild }}

<router-outlet></router-outlet>
